# Data manipulation with Pandas (indexing, selection, grouping)

In [1]:
import numpy as np
import pandas as pd
import random as rd

1. **Load a DataFrame from a CSV file. Display the first and last five rows of the DataFrame.**

In [18]:
data = pd.read_csv("insurance.csv")
print(f"\nFirst Five Rows")
print(f"\n{data.head()}")
print(f"\nLast Five Rows")
print(f"\n{data.tail()}")

First Five Rows

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Last Five Rows

      age  gender    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

2. **Set a specific column as the index of the DataFrame.**

In [21]:
#Setting 'age' column as a index
data.set_index("age",inplace=True)
print(data.head())

     gender     bmi  children smoker     region      charges
age
19   female  27.900         0    yes  southwest  16884.92400
18     male  33.770         1     no  southeast   1725.55230
28     male  33.000         3     no  southeast   4449.46200
33     male  22.705         0     no  northwest  21984.47061
32     male  28.880         0     no  northwest   3866.85520

3. **Select a specific column and display its values.**

In [131]:
#Reinitializing data so that the data index resets
data = pd.read_csv('insurance.csv')
print("\nMethod1\n")
# Selecting 'bmi' column and printing it
print(data['bmi']) # Method 1
print("\nMethod 2\n")
# Selecting 'bmi' column and printing it
print(data.bmi) #Method 2

Method1

0       27.900
1       33.770
2       33.000
3       22.705
4       28.880
         ...
1333    30.970
1334    31.920
1335    36.850
1336    25.800
1337    29.070
Name: bmi, Length: 1338, dtype: float64

Method 2

0       27.900
1       33.770
2       33.000
3       22.705
4       28.880
         ...
1333    30.970
1334    31.920
1335    36.850
1336    25.800
1337    29.070
Name: bmi, Length: 1338, dtype: float64

4. **Select multiple columns and display the resulting DataFrame.**

In [27]:
# Selecting 'age' , 'bmi' and 'gender' columns
print(data[['age','bmi','gender']])

      age     bmi  gender
0      19  27.900  female
1      18  33.770    male
2      28  33.000    male
3      33  22.705    male
4      32  28.880    male
...   ...     ...     ...
1333   50  30.970    male
1334   18  31.920  female
1335   18  36.850  female
1336   21  25.800  female
1337   61  29.070  female

[1338 rows x 3 columns]

5. **Select a subset of rows using the .loc method.**

In [50]:
# Using my customly created Data in Task 12

#randomly producing Marks Array
marksArray = np.random.randint(40,90,10)

#Creating Name Array
namesArray = ["Ahsan","Umer","Abdullah","Anas","Arqam","Ashir","Abdur Rehman","Habib","Rauhan","Hassan"]

#Making Dataframe
customData = pd.DataFrame(namesArray,columns = ["Names"])
customData["Marks"] = marksArray 

# Randomly producing Assignments columns
customData["Assignments"] = ["yes" if random.random()>0.5 else "no" for i in range(len(customData))]
print(customData.head())

print("\nUsing loc Funciton\n")
# using loc function 
print(customData.loc[1:5,["Names","Marks"]])

      Names  Marks Assignments
0     Ahsan     40         yes
1      Umer     79          no
2  Abdullah     51         yes
3      Anas     68          no
4     Arqam     50          no

Using loc Funciton

      Names  Marks
1      Umer     79
2  Abdullah     51
3      Anas     68
4     Arqam     50
5     Ashir     51

6. **Select a subset of rows and columns using the .iloc method.**

In [57]:
# Using my customly created Data in Task 12

#randomly producing Marks Array
marksArray = np.random.randint(40,90,10)

#Creating Name Array
namesArray = ["Ahsan","Umer","Abdullah","Anas","Arqam","Ashir","Abdur Rehman","Habib","Rauhan","Hassan"]

#Making Dataframe
customData = pd.DataFrame(namesArray,columns = ["Names"])
customData["Marks"] = marksArray 

# Randomly producing Assignments columns
customData["Assignments"] = ["yes" if random.random()>0.5 else "no" for i in range(len(customData))]
print(customData.head())

print("\n Using iloc Function\n")
#Using iloc Function
print(customData.iloc[5:,[0,2]]) #here i am making subset of rows after 5 rows and with columns (Names(0),Assignment(1))

      Names  Marks Assignments
0     Ahsan     84          no
1      Umer     61          no
2  Abdullah     86         yes
3      Anas     41          no
4     Arqam     47          no

 Using iloc Function

          Names Assignments
5         Ashir         yes
6  Abdur Rehman          no
7         Habib          no
8        Rauhan         yes
9        Hassan          no

7. **Filter rows based on a condition.**

In [65]:
# Now i am using my imported data 'insurance.csv'
filteredData = data[(data['children']==1) & (data['smoker']=='yes')] # Now i am filtering data on the basis of childrens = 1 and should be smoker = 1
print(filteredData)

      age  gender     bmi  children smoker     region      charges
23     34  female  31.920         1    yes  northeast  37701.87680
34     28    male  36.400         1    yes  southwest  51194.55914
38     35    male  36.670         1    yes  northeast  39774.27630
49     36    male  35.200         1    yes  southeast  38709.17600
52     48    male  28.000         1    yes  southwest  23568.27200
...   ...     ...     ...       ...    ...        ...          ...
1208   37  female  25.555         1    yes  northeast  20296.86345
1218   46  female  34.600         1    yes  southwest  41661.60200
1249   32    male  33.630         1    yes  northeast  37607.52770
1278   39    male  29.925         1    yes  northeast  22462.04375
1284   61    male  36.300         1    yes  southwest  47403.88000

[61 rows x 7 columns]

8. **Group the DataFrame by a specific column and calculate the mean of each group.**

In [75]:
# i am using 'insurance' dataset and grouping by gender
groupedDataFrame = data.groupby(['gender'])
meanGroupedData = groupedDataFrame.mean(numeric_only=True)
print(meanGroupedData)

              age        bmi  children       charges
gender
female  39.503021  30.377749  1.074018  12569.578844
male    38.917160  30.943129  1.115385  13956.751178

9. **Group the DataFrame by multiple columns and calculate the sum of each group.**

In [80]:
# i also using 'insurance' dataset
multiGroupedData = data.groupby(['gender','smoker'])
meanMultiGroupedData = multiGroupedData.mean(numeric_only = True)
print(meanMultiGroupedData)

                     age        bmi  children       charges
gender smoker
female no      39.691042  30.539525  1.087751   8762.297300
       yes     38.608696  29.608261  1.008696  30678.996276
male   no      39.061896  30.770580  1.092843   8087.204731
       yes     38.446541  31.504182  1.188679  33042.005975

10. **Use the agg method to apply multiple aggregation functions to grouped data.**

In [94]:
# using 'insurance' dataset

#Using Built-in funcitons
print("\n Using Built-in Funciton\n")
result = data.agg({"bmi":"sum", "age":["mean","sum"]})
print(result)

#Using Custom Function
print("\n Using Custom Funciton\n")

def maxValue (data):
    return data.max()
result = data.agg({'bmi':maxValue,"age":[maxValue,"sum"]})
print(result)

 Using Built-in Funciton

            bmi           age
sum   41027.625  52459.000000
mean        NaN     39.207025

 Using Custom Funciton

            bmi    age
maxValue  53.13     64
sum         NaN  52459

11. **Calculate the size of each group**

In [109]:
#Using "insurance" dataset
print("\nGrouped Data\n")
filteredData = data.groupby(["gender","children"])
meanfilteredData = filteredData.mean(numeric_only=True)
print(meanfilteredData)

#For Checking Size of each group

print("\nSize Of Each Group\n")
print(filteredData.size())

Grouped Data

                       age        bmi       charges
gender children
female 0         38.346021  30.361522  11905.714276
       1         39.506329  30.052658  12161.360414
       2         40.512605  30.649790  13941.317326
       3         42.181818  30.436429  13865.605066
       4         42.000000  31.943182  13937.674562
       5         37.000000  30.620625   9854.006419
male   0         38.543860  30.741719  12832.696736
       1         39.403614  31.166145  13273.522458
       2         38.396694  31.300992  16187.095325
       3         40.975000  30.922937  16789.167419
       4         36.642857  30.957500  13782.284829
       5         34.500000  28.792500   7931.658310

Size Of Each Group

gender  children
female  0           289
        1           158
        2           119
        3            77
        4            11
        5             8
male    0           285
        1           166
        2           121
        3            80
        4            14
        5            10
dtype: int64

12. **Select rows based on multiple conditions.**

In [112]:
# Again using 'insurance' dataset

# Now Selecting Row Baseds On The Male who is over 60 and have only 1 children

filteredData = data[(data['gender']=='male')&(data['age']>=60)&(data['children']==1)]

print(filteredData)

      age gender    bmi  children smoker     region      charges
62     64   male  24.70         1     no  northwest  30166.61817
337    62   male  27.55         1     no  northwest  13937.66650
379    62   male  31.46         1     no  southeast  27000.98473
418    64   male  39.16         1     no  southeast  14418.28040
475    61   male  28.31         1    yes  northwest  28868.66390
717    60   male  24.32         1     no  northwest  13112.60480
1068   63   male  21.66         1     no  northwest  14349.85440
1284   61   male  36.30         1    yes  southwest  47403.88000

13 **Use the query method to filter rows**.

In [114]:
# Now Applying Above Conditions using pandas query
filteredData = data.query("gender == 'male' and age>=60 and children == 1")
print(filteredData)

      age gender    bmi  children smoker     region      charges
62     64   male  24.70         1     no  northwest  30166.61817
337    62   male  27.55         1     no  northwest  13937.66650
379    62   male  31.46         1     no  southeast  27000.98473
418    64   male  39.16         1     no  southeast  14418.28040
475    61   male  28.31         1    yes  northwest  28868.66390
717    60   male  24.32         1     no  northwest  13112.60480
1068   63   male  21.66         1     no  northwest  14349.85440
1284   61   male  36.30         1    yes  southwest  47403.88000

14. **Use 'isin' to filter rows based on a list of values.**

In [126]:
# Now Applying Above Condition using isin function
print("\nData Based On Multiple Conditions\n")
ConditionalData1 = data['gender'].isin(['male'])
ConditionalData2 = data['children'].isin([1])
ConditionalData3 = data['age']>=60

print(data[ConditionalData1 & ConditionalData2 & ConditionalData3])

Data Based On Multiple Conditions

      age gender    bmi  children smoker     region      charges
62     64   male  24.70         1     no  northwest  30166.61817
337    62   male  27.55         1     no  northwest  13937.66650
379    62   male  31.46         1     no  southeast  27000.98473
418    64   male  39.16         1     no  southeast  14418.28040
475    61   male  28.31         1    yes  northwest  28868.66390
717    60   male  24.32         1     no  northwest  13112.60480
1068   63   male  21.66         1     no  northwest  14349.85440
1284   61   male  36.30         1    yes  southwest  47403.88000

15. **Select specific columns and rename them**

In [136]:
#Renaming 'bmi' to 'Body Mass Index' and 'age' to 'Age'
data = pd.read_csv('insurance.csv') #importing data so that it rename to origral everytime this cell runs
print("\nData Before Renaming\n")
print(data.head())

print("\nData After Renaming")
data.rename(columns = {'bmi':"Body Mass Index","age":"Age"},inplace=True)
data.head()

Data Before Renaming

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Data After Renaming

   Age  gender  Body Mass Index  children smoker     region      charges
0   19  female           27.900         0    yes  southwest  16884.92400
1   18    male           33.770         1     no  southeast   1725.55230
2   28    male           33.000         3     no  southeast   4449.46200
3   33    male           22.705         0     no  northwest  21984.47061
4   32    male           28.880         0     no  northwest   3866.85520

# Mini Project
## Analyzing Sales Data

1. **Loading the Data**

In [159]:
# Sales data taken from chatGPT
salesData = pd.read_csv('sales.csv')
#Setting OrderDate As Index so i can do time based analysis
salesData.set_index("OrderDate",inplace = True)
print(salesData.head())
print(salesData.describe())

           Region         Category    Product  Quantity  UnitPrice
OrderDate
2023-01-01   East  Office Supplies       Pens        10       1.99
2023-01-02   West       Technology     Laptop         2     899.99
2023-01-02   East        Furniture      Chair         5      49.99
2023-01-03  South  Office Supplies  Notebooks         3       4.99
2023-01-04   West       Technology      Mouse        15      19.99
        Quantity   UnitPrice
count  21.000000   21.000000
mean    5.238095  156.656667
std     4.773937  233.999003
min     1.000000    0.990000
25%     2.000000    4.990000
50%     4.000000   49.990000
75%     6.000000  199.990000
max    20.000000  899.990000
['Office Supplies' 'Technology' 'Furniture']

In [191]:
print("\nAll Categories\n")
print(salesData.Category.unique())
print("\nAll Products\n")
print(salesData.Product.unique())

All Categories

['Office Supplies' 'Technology' 'Furniture']

All Products

['Pens' 'Laptop' 'Chair' 'Notebooks' 'Mouse' 'Pencils' 'Desk' 'Keyboard'
 'Paper' 'Table' 'Monitor' 'Stapler' 'Printer' 'Markers' 'Sofa' 'Scissors'
 'Tablet' 'File Folders' 'Bookshelf' 'Headphones' 'Tape']

2. **Data Filtering and Selection**

In [212]:
#Finding Sales Data Region Wise
eastSales = salesData[salesData["Region"]=="East"]
westSales = salesData[salesData["Region"]=='West']
southSales = salesData[salesData["Region"]=='South']
northSales = salesData[salesData["Region"]=='North']
eastSales['Total Sales']= eastSales['UnitPrice'] * eastSales["Quantity"]
westSales['Total Sales']= westSales['UnitPrice'] * westSales["Quantity"]
southSales['Total Sales']= southSales['UnitPrice'] * southSales["Quantity"]
northSales['Total Sales']= northSales['UnitPrice'] * northSales["Quantity"]


print(f"Total Sales In East Region: {eastSales["Total Sales"].sum()}\n")
print(f"Total Sales In West Region: {westSales['Total Sales'].sum()}\n")
print(f"Total Sales In South Region: {southSales['Total Sales'].sum()}\n")
print(f"Total Sales In North Region: {northSales['Total Sales'].sum()}\n")

#Finding Sales Data Category Wise
officeSupSales= salesData[salesData["Category"]=="Office Supplies"]
technologySales= salesData[salesData["Category"]=="Technology"]
furnitureSales= salesData[salesData["Category"]=="Furniture"]
officeSupSales['Total Sales'] = officeSupSales['UnitPrice'] * officeSupSales['Quantity']
technologySales['Total Sales'] = technologySales['UnitPrice'] * technologySales['Quantity']
furnitureSales['Total Sales'] = furnitureSales['UnitPrice'] * furnitureSales['Quantity']

print(f"Total Sales In Office Supply Category : {officeSupSales['Total Sales'].sum()}\n")
print(f"Total Sales In Technology Category: {technologySales['Total Sales'].sum()}\n")
print(f"Total Sales In Furniture Category: {furnitureSales['Total Sales'].sum()}\n")

# Converting OrderDate datatype to Datetime
salesData.index= pd.to_datetime(salesData.index)



#Finding Sales Of First 10 Days


salesFirst10days = salesData[(salesData.index>='2023-01-01')&(salesData.index<'2023-01-10')]
print(f"Sales Of First 10 Days: {salesFirst10days['UnitPrice'].sum()}\n")

#Finding Sales Of Last 10 Days
salesLast10days = salesData[(salesData.index>='2023-01-10')&(salesData.index<='2023-01-20')]
print(f"Sales Of Last 10 Days: {salesLast10days['UnitPrice'].sum()}\n")


#Finding Sales Product Wise
penSales = salesData.loc[salesData['Product']=="Pens"]
penSales["Total Sales"] = penSales['Quantity']*penSales['UnitPrice']
totalPenSales = penSales['Total Sales'].sum()

print(f"The Total Sales Of Pens: {totalPenSales}")


#Finding The highest quantity sold
highestQuantityProduct = salesData.loc[salesData["Quantity"].idxmax()]
print(f"\nThe Highest Quantity Sold is: {highestQuantityProduct['Quantity']} Which is {highestQuantityProduct["Product"]}\n")


#Finding The lowest quantity sold
lowestQuantityProduct = salesData.loc[salesData["Quantity"].idxmin()]
print(f"\nThe Lowest Quantity Sold is: {lowestQuantityProduct['Quantity']} Which is {lowestQuantityProduct["Product"]}\n")

Total Sales In East Region: 2936.4300000000003

Total Sales In West Region: 3648.5999999999995

Total Sales In South Region: 638.87

Total Sales In North Region: 0.0

Total Sales In Office Supply Category : 294.34

Total Sales In Technology Category: 4599.67

Total Sales In Furniture Category: 2329.8900000000003

Sales Of First 10 Days: 1533.9

Sales Of Last 10 Days: 1755.89

The Total Sales Of Pens: 19.9

The Highest Quantity Sold is: 20 Which is Paper


The Lowest Quantity Sold is: 1 Which is Table

C:\Users\Syed Abdullah\AppData\Local\Temp\ipykernel_15680\721457509.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eastSales['Total Sales']= eastSales['UnitPrice'] * eastSales["Quantity"]
C:\Users\Syed Abdullah\AppData\Local\Temp\ipykernel_15680\721457509.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  westSales['Total Sales']= westSales['UnitPrice'] * westSales["Quantity"]
C:\Users\Syed Abdullah\AppData\Local\Temp\ipykernel_15680\721457509.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  southSales['Total Sales']= southSales['UnitPrice'] * southSales["Quantity"]
C:\Users\Syed Abdullah\AppData\Local\Temp\ipykernel_15680\721457509.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  officeSupSales['Total Sales'] = officeSupSales['UnitPrice'] * officeSupSales['Quantity']
C:\Users\Syed Abdullah\AppData\Local\Temp\ipykernel_15680\721457509.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  technologySales['Total Sales'] = technologySales['UnitPrice'] * technologySales['Quantity']
C:\Users\Syed Abdullah\AppData\Local\Temp\ipykernel_15680\721457509.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  furnitureSales['Total Sales'] = furnitureSales['UnitPrice'] * furnitureSales['Quantity']
C:\Users\Syed Abdullah\AppData\Local\Temp\ipykernel_15680\721457509.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  penSales["Total Sales"] = penSales['Quantity']*penSales['UnitPrice']